{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}
        {% block stylesheets %}
		{{ parent()}}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}
{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div class="main relative min-h-[32em] m-auto flex justify-center items-start h-[90vh] font-titlefont">   
        {% for project in projects %}
        <article class="article article__0{{ loop.index }}" role="tabpanel" aria-labelledby="{{ loop.index }}" {{ loop.index != 1 ? 'hidden' }}> 
  <div class="flex flex-col sm:flex-row w-full mt-[8em]">
    <figcaption class="mb-4 sm:mb-0 sm:mr-4">
        <h1 class="title font-bold">{{ project.title }}</h1>
        <p class="description mt-3">
            {{ project.description }}
        </p>
<button class="cta-btn mt-4">
    <a href="{{ path('app_presentation_index', {'projectId': project.id}) }}">More Info</a>
</button>
    </figcaption>
    <figure class="flex justify-center sm:justify-start">
        <img class="image rounded max-w-full h-auto shadow-sm " src="{{ asset('build/images/' ~ project.image) }}" alt="picture of image :)" />
    </figure>
</div>
</article>
        {% endfor %}
    <aside class="aside shadow-inset">
        <nav role="tablist">
            {% for project in projects %}
<button class="thumbnail__btn" id="{{ loop.index }}" role="tab" aria-selected="{{ loop.index == 1 ? 'true' : 'false' }}" tabindex="{{ loop.index == 1 ? 0 : -1 }}" aria-controls="tabpanel-{{ loop.index }}" style="background-image: url({{ asset('build/images/' ~ project.image) }});">
    <span class="sr-only">{{ project.title }}</span>
        <span class="thumbnail__title">{{ project.title }}</span>
</button>
            {% endfor %}
        </nav>
    </aside>
</div>
{% endblock %}
