{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <main class="main">

        {% for project in projects %}
            <article class="article article__0{{ loop.index }}" role="tabpanel" aria-labelledby="{{ loop.index }}" {{ loop.index != 1 ? 'hidden' }}>
                <figure>
<img class="image" src="{{ asset('build/images/' ~ project.image) }}" alt="picture of image :)" />
                    <figcaption class="text__content">
                        <h1 class="title">{{ project.title }}</h1>
                        <p class="description">
                            {{ project.description }}
                        </p>
                        <button class="cta-btn">Click Here</button>
                    </figcaption>
                </figure>
            </article>
        {% endfor %}
    </main>
    <aside class="aside">
        <nav role="tablist">
            {% for project in projects %}
                <button class="thumbnail__btn" id="{{ loop.index }}" role="tab" aria-selected="{{ loop.index == 1 ? 'true' : 'false' }}" tabindex="{{ loop.index == 1 ? 0 : -1 }}" aria-controls="tabpanel-{{ loop.index }}">
                    <span class="sr-only">{{ project.title }}</span>
                </button>
            {% endfor %}
        </nav>
    </aside>
</div>
{% endblock %}
