{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('presentation') }}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('presentation') }}
{% endblock %}
{% block navbar %}
    {% include 'includes/navbarpres.html.twig' %}
{% endblock %}
{% block body %}
  <section class="font-titlefont">
  {% set isFirstArticle = true %}
    {% for presentation in presentations %}
    <article class="{{ loop.first ? 'current static' : '' }}">
        <div class="image-wrap">
            <img class="rounded shadow-sm" src="{{ asset('build/images/' ~ presentation.link) }}">
        </div>
        <div class="w-full md:h-full p-3 flex flex-col md:justify-center items-start relative"> 
            <div class="flex flex-col justify-center items-start md:h-full md:max-w-[50%] content-wrapper pl-[3rem] md:pt-6 ">
                    <h1 class="md:pl-3 md:pb-2 mb-2 font-bold md:text-left w-full text-4xl md:text-6xl text-accentcolor">{{ presentation.fonction }}</h1>
                    <p class="md:pl-3 mt-4 pt-4 w-full text-left">{{ presentation.description|raw|nl2br }}</p>
                {% if isFirstArticle %}
                    <div class='scrolldown mt-[12em]'>
                        <div class="chevrons">
                            <div class='chevrondown'></div>
                            <div class='chevrondown'></div>
                        </div>
                    </div>
                    {% set isFirstArticle = false %}
                {% endif %}
                <div class="md:absolute md:bottom-5 md:left-0 md:ml-[7%] md:w-[40%] md:h-0.5 md:bg-gray-300"></div>
            </div>
        </div>
    </article>
    {% endfor %}
  </section>
{% endblock %}
