{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}
        {% block stylesheets %}
		{{ parent()}}
            {{ encore_entry_link_tags('presentation') }}
        {% endblock %}
{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('presentation') }}
{% endblock %}
  {% block navbar %}
    {% include 'includes/navbarpres.html.twig' %}
    {% endblock %}
{% block body %}
  <section class="font-titlefont">
  {% set isFirstArticle = true %}
    {% for presentation in presentations %}
    <article class="{{ loop.first ? 'current static' : '' }}">
        <div class="image-wrap">
            <img class="rounded shadow-sm" src="{{ asset('build/images/' ~ presentation.link) }}">
        </div>
        <div class="caption flex flex-col justify-center items-start"> 
            <div class="left-content content-wrapper w-full flex flex-col">
                <div class="text-container">
                    <h1 class="pl-3 pb-10 mb-2 font-bold text-left w-full">{{ presentation.fonction }}</h1>
                    <p class="pl-3 mt-4 pt-4 w-full text-left">{{ presentation.description|raw|nl2br }}</p>
                </div>
                                {% if isFirstArticle %}
                    <div class='scrolldown mt-[12em]'>
                        <div class="chevrons">
                            <div class='chevrondown'></div>
                            <div class='chevrondown'></div>
                        </div>
                    </div>
                    {% set isFirstArticle = false %}
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
  </section>
{% endblock %}
